.Profile-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(300px) fit-content(500px);
  width: 95%;
  height: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 5%;
}

.Profile-User {
  width: 100%;
  height: fit-content;
  grid-column: 1/3;
  display: flex;
  gap: 50px;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 2px solid var(--accent-color);
}

.Profile-Bio {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 2px solid var(--accent-color);
}

.Profile-Stats {
  gap: 50px;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 2px solid var(--accent-color);
}

.Profile-Image {
  width: 200px;
  margin: 25px;
}

.Profile-Vertical-Flex {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.Username-Heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.Profile-Horizontal-Flex {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

h3 {
  color: var(--accent-color);
}

.Edit-Profile-Button {
  height: 50px;
  margin: auto 25px 25px auto;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.1rem;
}

.Edit-Profile-Button:hover {
  color: var(--accent-color);
  background-color: var(--white-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

@media (max-width: 550px) {
  .Profile-Grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 30px;
  }
  .Profile-User {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .Edit-Profile-Button {
    margin: 0;
    margin-bottom: 25px;
  }
}
